<ion-content>
  <div class="main-container">
    <div class="bottom-container">
      <div class="logo-section">
        <img src="https://via.placeholder.com/150x150" alt="">
      </div>
      <h1 class="title" style="padding:10px;">DANDO VALOR AO SEU <br> DINHEIRO</h1>

      <ion-button class="btn-social-login google" mode="md" expand="full" shape="round" fill="solid">
        <img src="../../../assets/images/starter/google-fill.svg" alt="">
        Conecte-se com&nbsp;<strong>Google</strong>
      </ion-button>

      <ion-button class="btn-social-login facebook" mode="md" expand="full" shape="round" fill="solid">
        <img src="../../../assets/images/starter/facebook-fill.svg" alt="">
        &nbsp;<strong>Facebook</strong>
      </ion-button>
      <p class="ion-text-center">
        ¿Já tem uma conta? <a class="btn-signIn" (click)="signInPage()">assinar em</a>
      </p>
    </div>
  </div>
</ion-content>