<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-header no-border>
    <ion-toolbar [style.backgroundColor]="state == 1 ? '' : 'rgba(0,0,0,0.7)'">
      <ion-buttons slot="start" class="ion-margin-start">
        <ion-button class="ion-margin-left" fill="clear" mode="md" (click)="backPage()">
          <ion-icon class="back-icon" src="../../../assets/images/General/noun_Arrow_white_1256499.svg"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end" class="ion-margin-end">
        <ion-button fill="clear" mode="md" (click)="bookmark()">
          <ion-icon class="bookmark-icon" src="../../../assets/images/General/noun_bookmark_660526.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="salon-detail">
    <h2 class="salon-name">Oasis Salon</h2>
    <p class="salon-address">Puerto Ordaz.</p>
    <div class="rating-div">
      <ion-icon class="orange-start" src="../../../assets/images/General/_ionicons_svg_ios-star.svg"></ion-icon>
      <ion-icon class="orange-start" src="../../../assets/images/General/_ionicons_svg_ios-star.svg"></ion-icon>
      <ion-icon class="orange-start" src="../../../assets/images/General/_ionicons_svg_ios-star.svg"></ion-icon>
      <ion-icon class="white-star" src="../../../assets/images/General/_ionicons_svg_ios-star.svg"></ion-icon>
      <ion-icon class="white-star" src="../../../assets/images/General/_ionicons_svg_ios-star.svg"></ion-icon>
      <span class="total-review-lbl">(125 Reviews)</span>
     <!--  <p class="open-label ion-text-uppercase">Open</p> -->
    </div>
  </div>
  <div class="section-two">
    <ion-row class="btn-row ion-text-center">
      <ion-col size="3">
        <ion-icon class="icon-website" src="../../../assets/images/General/ic_website.svg"></ion-icon><br />
        <p>Actualizar</p>
      </ion-col>
      <ion-col size="3">
        <ion-icon class="icon-call" src="../../../assets/images/General/ic_end_call.svg"></ion-icon>
        <p>Llamar</p>
      </ion-col>
      <ion-col size="3">
        <ion-icon class="icon-direction" src="../../../assets/images/General/noun_Map_2443283.svg"></ion-icon><br />
        <p>Direccion</p>
      </ion-col>
      <ion-col size="3">
        <ion-icon (click)="share()" class="icon-share" src="../../../assets/images/General/ic_share.svg"></ion-icon>
        <p (click)="share()">Compartir</p>
      </ion-col>
    </ion-row>
    <h4 class="specialist-title ion-margin-start">Especialistas</h4>
    <ion-row nowrap class="ion-no-padding employee-row">
      <ion-col size="3" size-md="1.5" size-xl="1" *ngFor="let emp of empployeeList">
        <div class="image-div">
          <img [src]="emp.image" alt="" />
        </div>
        <p class="emp-name ion-text-center">{{ emp.name }}</p>
        <p class="emp-deg ion-text-center">{{ emp.post }}</p>
      </ion-col>
    </ion-row>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button mode="md" value="About" checked="true">
        <ion-label>Nosotros</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="md" value="Services">
        <ion-label>Servicios</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="md" value="Gallery">
        <ion-label>Galeria</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="md" value="Review">
        <ion-label>Reseñas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="segment-tabs">
    <div class="about-div" *ngIf="avtiveSegment == 'About'">
      <h4 class="title">About</h4>
      <p class="about-content">
        Con la trayectoria de 36 años en una iniciativa que nació en Colombia y que luego se afianzó en Venezuela, la calidad del trabajo de Oasis Barbería y Peluquería marca huellas en los clientes. <a>Leer mas</a>
      </p>

      <h4 class="title">Opening Hours</h4>
      <ion-row class="ion-no-padding">
        <ion-col class="dayname" style="display: inline-flex" size="6">
          <div class="circle"></div>
          Lunes - Viernes
        </ion-col>
        <ion-col class="time" size="6">
          9:00 AM - 6:00PM
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding">
        <ion-col class="dayname" style="display: inline-flex" size="6">
          <div class="circle"></div>
          Sabado - Domingo
        </ion-col>
        <ion-col class="time" size="6">
          9:00 AM - 3:00PM
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col size="8" style="padding-left: 0px">
          <h4 class="title ion-no-margin">Dirección</h4>
          <p class="address">
            Centro Comercial Cuidad Alta Vista II Piso 1 local 178 Calle Caura Con Cuchivero. Puerto Ordaz.
          </p>
        <!--   <ion-button class="ion-no-margin btn-direction" mode="md" fill="clear" size="small">
            <ion-icon src="../../../assets/images/General/ic_direction.svg"></ion-icon>
            Get directions ~ 4.2 km
          </ion-button> -->
        </ion-col>
        <ion-col size="4">
          <img class="ion-float-right" height="94" width="94"
            src="../../../assets/images/salon_detail/614fb9c921f4748e1b16f138617ce976.png" alt="" />
        </ion-col>
      </ion-row>
      <h4 class="title">
        Photos
        <ion-button class="ion-no-margin ion-float-right btn-viewAll" mode="md" size="small" fill="clear"
          (click)="avtiveSegment='Gallery'">
          Ver todo
        </ion-button>
      </h4>
      <ion-row class="photo-row ion-nowrap">
        <ion-col size="3" size-md="1.5" size-xl="1" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]">
          <img height="72" width="72" src="../../../assets/Baberia/empresa.jpg" alt="" />
        </ion-col>
      </ion-row>
      <ion-button class="btn-book" mode="md" expand="full" shape="round" fill="solid" (click)="book()">
        Reservar
      </ion-button>
    </div>
    <div class="services-div" *ngIf="avtiveSegment == 'Services'">
      <ion-item lines="none" *ngFor="let item of services">
        <ion-thumbnail slot="start">
          <img [src]="'../../../assets/images/salon_detail/' + item.icon">
          
        </ion-thumbnail>
        <ion-label>
          <h3>
            {{ item.title }}
            <ion-button class="ion-float-right btn-view" fill="clear" size="small" mode="md" (click)="serviceBooking()">
              View
            </ion-button>
          </h3>
          <p>{{ item.type }} types</p>
        </ion-label>
      </ion-item>
    </div>
    <div class="gallery-div" *ngIf="avtiveSegment == 'Gallery'">
      <ion-row>
        <ion-col size="6" size-md="4" size-xl="4" *ngFor="let item of galleryimg;let i=index"
          (click)="openPreview(galleryimg,i)">
          <img [src]="item" alt="" />
        </ion-col>
      </ion-row>
    </div>
    <div class="review-div" *ngIf="avtiveSegment == 'Review'">
      <div class="write-review">
        <h5>
          Write your Review
          <span class="rating ion-float-right">
            <ion-icon [ngClass]="{ selected: activeStar >= 1 }" (click)="setRating(1)"
              src="../../../assets/images/General/_ionicons_svg_ios-star.svg"></ion-icon>
            <ion-icon [ngClass]="{ selected: activeStar >= 2 }" (click)="setRating(2)"
              src="../../../assets/images/General/_ionicons_svg_ios-star.svg"></ion-icon>
            <ion-icon [ngClass]="{ selected: activeStar >= 3 }" (click)="setRating(3)"
              src="../../../assets/images/General/_ionicons_svg_ios-star.svg"></ion-icon>
            <ion-icon [ngClass]="{ selected: activeStar >= 4 }" (click)="setRating(4)"
              src="../../../assets/images/General/_ionicons_svg_ios-star.svg"></ion-icon>
            <ion-icon [ngClass]="{ selected: activeStar >= 5 }" (click)="setRating(5)"
              src="../../../assets/images/General/_ionicons_svg_ios-star.svg"></ion-icon>
          </span>
        </h5>
        <ion-item class="input-item" lines="none">
          <ion-avatar slot="start">
            <img src= "http://placehold.it/48x48" alt="" />
          </ion-avatar>
          <ion-input mode="md" placeholder="Leave your experience…"></ion-input>
        </ion-item>
        <ion-button class="btn-post" shape="round" size="small" mode="md">Post</ion-button>
      </div>
      <div class="display-review">
        <h5 class="all-review-title">All Reviews (128)</h5>
        <div class="single-review" *ngFor="let rev of reviews">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src= "http://placehold.it/54x54" />
            </ion-avatar>
            <ion-label>
              <h5 class="username">
                {{ rev.name }}
                <span class="time ion-float-right">{{ rev.time }}</span>
              </h5>
              <span class="stars">
                <ion-icon [ngClass]="{ 'color-star': rev.star >= 1 }"
                  src="../../../assets/images/General/_ionicons_svg_ios-star.svg"></ion-icon>
                <ion-icon [ngClass]="{ 'color-star': rev.star >= 2 }"
                  src="../../../assets/images/General/_ionicons_svg_ios-star.svg"></ion-icon>
                <ion-icon [ngClass]="{ 'color-star': rev.star >= 3 }"
                  src="../../../assets/images/General/_ionicons_svg_ios-star.svg"></ion-icon>
                <ion-icon [ngClass]="{ 'color-star': rev.star >= 4 }"
                  src="../../../assets/images/General/_ionicons_svg_ios-star.svg"></ion-icon>
                <ion-icon [ngClass]="{ 'color-star': rev.star >= 5 }"
                  src="../../../assets/images/General/_ionicons_svg_ios-star.svg"></ion-icon>
              </span>
            </ion-label>
          </ion-item>
          <p class="review-content">{{ rev.text }}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>